@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(242, 239, 229);
}

/* login page start */

.login{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form{
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgb(255, 255, 255, .2);
    color: rgb(180, 180, 184);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 420px;
    transition-property:all;
    transition-duration: .5s;
}

.form:hover{
    background: #00000065;
    border-radius: 20px;
}

.form h1{
    font-size: 36px;
    text-align: center;
    color: rgb(180, 180, 184);
}

.login .input-box{
    position: relative;
    margin: 25px 0;
}


 .input-box input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;
    background-color: transparent;
    border-radius: 20px;
    color: rgb(180, 180, 184);
    border: 2px solid rgb(180, 180, 184);
    padding: 20px 45px 20px 20px;

}
.input-box input::placeholder{
    color: rgb(180, 180, 184);
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.form .remamber-forgot, .feedback{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.login label input{
    accent-color: rgb(180, 180, 184);
    margin-right: 3px;
}

.remamber-forgot a{
    color: rgb(180, 180, 184);
    text-decoration: none;
}

.remamber-forgot a:hover{
    text-decoration:underline;
    color: blue;
}
.sub a{
    text-decoration: none;
    color: black;
}

.login .btn{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition-property: all;
    transition-duration: .3s;
}

.sub{
    display: flex;
    justify-content: space-around;
}

.btn:active{
    width: 50%;
    background-color:rgba(84, 84, 241, 0.794);

}

.login .register-link{
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: rgb(180, 180, 184);
    text-decoration: none;

}

.register-link p a:hover{
    text-decoration:underline;
    color: blue;
}

textarea{
    border-radius: 10px;
    padding-left: 12px;
    font-size: 14px;
}

/* login page end */

/* nav and logo page start */
.containar{
    width: 100%;
}

.logo{

    margin: .6rem;
    border: 2px solid black;
    background-color: rgb(199, 200, 204);
    border-radius: 10px;
    text-align: center;
    font-size: 4rem;
    
}
.nav{
    display: flex;
    justify-content: end;
}

.nav li{
    margin: .7rem;
    font-size: 1.5rem;
    display: inline-block;
}

.nav li a{
    text-decoration: none;
    color: black;
}

.nav li a:hover{
    text-decoration: underline;
    color: rgb(98, 202, 231);
}


/* nav and logo end */


/* main page start */

.heding{
    margin: .6rem;
    padding-bottom: 2rem;
}

.dhoni h1{
    margin: 2rem .6rem;
    border:2px solid;
    border-radius: 10px;
    text-align:center;
}

.h1{
    margin: 2rem .6rem;
    border:2px solid;
    border-radius: 10px;
    text-align:center;

}

.dhoni img{
    margin-top: .9rem;
    margin-left: .6rem;
    border-radius: 20px;
    height: 35vmax;
    align-items: center;
}

.dimg{
    width: 400px;
}

.dhoni  span,figcaption{
    margin: .5rem;
    
}

.dhoni div{
    font-size: 1.7rem;
    text-align: center;
}

/* main page end */


/* dhoni page start */

.dhoni1 {
    padding: 1rem;
    align-items: center;
}

.dhoni1 p{
    margin: .6rem;
    padding: .6rem;
}

.dh {
    height: 10vmax;
    width: 20vmax;
}
/* dhoni page end */

/* apj abdul kalam page start  */

.hr{
    margin: 2rem 0rem 2rem 0rem;
}
.kalam{
    margin: .6rem;
}

.kalam h1{
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.h2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.apj img{
    padding: 1rem;
    margin: 1rem;
    width: 40vmax;
}

.apj p{
    margin: .7rem;
}

.h3{
    font-size: 1.8rem;
}

/* apj abdul kalam page end */

/* modi page start */

.img{
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    width: 45rem;

}

.a{
    text-decoration: none;
    color: black;
}


.narendar{
    display: flex;
    border: solid;
}

.imge{
    /* display: flex; */
    border: solid;
}

.modip{
    /* border: solid; */
}
/* modi page end */

/* footer start */

.footer{
    background-color: rgb(199, 200, 204);
}

.contact{
    text-align: center;
}

.contact li{
    display: inline-block;
    margin: 1.5rem;

}

.footer img{
    
    height: 3vmax;
    width: 3vmax;
    border-radius: 50%;
}

.nav1{
    margin: .6rem;
    padding: 1rem;
}
.nav1 li{
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.nav1 a{
    text-decoration: none;
    color: black;
}

/* footer end */
